.navbar-brand {
	padding-top: 5px!important;
	padding-bottom: 5px!important;
}

.header-logo {
	height: 100%;
}

.nav-pills {
	padding-top: 10px;
	padding-bottom: 10px;
}

.in-place-help .btn {
	font-size: 16px;
	background-color: transparent;
}

.in-place-help .well {
	padding: 0;
}

.in-place-help .help-block {
	margin-left: 10px;
}

.color-shape-input-color label {
	visibility: hidden;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.popover-title {
	border-bottom-color: #c5c5c5;
	font-weight: bold;
}
