.navbar-brand {
	padding-top: 5px!important;
	padding-bottom: 5px!important;
}

.header-logo {
	height: 100%;
}

.nav-pills {
	padding-top: 10px;
	padding-bottom: 10px;
}

.color-shape-input-color label {
	visibility: hidden;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.popover {
	max-width: 300px;
}

.popover-title {
	border-bottom-color: #c5c5c5;
	font-weight: bold;
}

.header-panel .panel-heading {
	border-bottom: 1px solid #ddd!important;
	font-weight: bold;
}
