/**
 * PCAGO additional style file
 * ===========================
 *
 * Contains fixes for some quirks of Shiny/Bootstrap
 * and styles for custom controls
 *
 */


/**
 * Fixes for main navbar. Thanks to shiny not able to give the damn <nav> entry an ID
 * this solution is based on that sub-navs have to override this settings
 */
.navbar-header .navbar-brand {
	padding-top: 5px!important;
	padding-bottom: 5px!important;
}

.navbar-header .navbar-brand .header-logo {
	height: 100%;
}

/**
 * Fixes for tab sets
 */
.nav-pills {
	padding-top: 10px;
	padding-bottom: 10px;
}

/**
 * Needed for centering elements
 */
.col-centered{
    float: none;
    margin: 0 auto;
}

/**
 * Fixes for popover (used for those help icons)
 */
.popover {
	max-width: 300px;
}

.popover-title {
	border-bottom-color: #c5c5c5;
	font-weight: bold;
}

/**
 * Make header of header panel more distinct from content
 */
.header-panel .panel-heading {
	border-bottom: 1px solid #ddd!important;
	font-weight: bold;
}

/*
 * Style for plot visuals editor
 */

.color-shape-editor .condition-list label {
	padding: 0;
}

.color-shape-editor .condition-list input[type="radio"]+span {
	padding: 5px 5px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.color-shape-editor .condition-list input[type="radio"]:checked+span {
	font-weight: bold;
	border: 2px solid #aaa;
}

.color-shape-editor .condition-list .radio {
	display: inline-block;
}

.color-shape-editor .condition-list input {
	display: none;
}

/*
 * Fixes for navlist panel
 * Make headers more distinct.
 */
.nav-stacked .navbar-brand {
	font-weight: bold;
	font-size: 16px;
	color: #555;
}

/**
* Style for help page
*/

.help-page table {
    border-collapse: collapse;
}

.help-page th, .help-page td {
    border: 1px solid #ddd;
		padding: 15px;
}

/**
* A horizontal divider for some controls
*/

.hdivider {
	border-bottom: 1px solid #ddd;
	margin-top: 15px;
	margin-bottom: 10px;
	height: 1px;
}

/*
 * Style for play/pause button
 */

.btn-play-pause {
    background-color: #337ab7;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: white;
}

.btn-play-pause:hover {
    color: white;
}

.btn-play-pause .pause {
    display: none;
}


.btn-play-pause.active .play {
    display: none;
}

.btn-play-pause.active .pause {
    display: inline-block!important;
}

/*
* Style for the navbar in Analyze page
*/
.pca-page nav .navbar-header {
	display: none;
}

.pca-page nav {
	border-width: 1px;
}

.pca-page .navbar-default .navbar-nav > .active > a,
.pca-page .navbar-default .navbar-nav > .active > a:focus,
.pca-page .navbar-default .navbar-nav > .active > a:hover   {
	background-color: #337ab7;
	color: #fff;
}

.pca-page .navbar-default .container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.pca-page .navbar-default {
	margin-left: 15px;
	margin-right: 15px;
}

/*
* Style for downloadable plot
*/

/* Override the image size, so it doesn't get scaled by Shiny's default plot output */
/*.downloadable-plot img {
	width: 100%;
	height: auto;
}*/

/*.downloadable-plot .shiny-plot-output {
	height: auto!important;
}*/

/*
* Style for selection filter widget
*/

/*.filter-selection-input .filter-operation {
	min-width: 100px;
}*/

/*
* Style for nested collapse panels
*/

.sbs-panel-group .sbs-panel-group > .panel > .panel-collapse {
	border-bottom: 2px solid #ddd;
}

.sbs-panel-group .sbs-panel-group > .panel > .panel-collapse > .panel-body {
	border: 0;
}


.sbs-panel-group .sbs-panel-group > .panel {
	border-width: 0;
}

.sbs-panel-group .sbs-panel-group > .panel > .panel-heading {
	border-bottom: 1px solid #ddd;
}

.sbs-panel-group .sbs-panel-group > .panel > .panel-heading > .panel-title {
	font-size: 14px;
}
