/**
 * PCAGO additional style file
 * ===========================
 *
 * Contains fixes for some quirks of Shiny/Bootstrap
 * and styles for custom controls
 *
 */


/**
 * Fixes for main navbar. Thanks to shiny not able to give the damn <nav> entry an ID
 * this solution is based on that sub-navs have to override this settings
 */
.navbar-header .navbar-brand {
	padding-top: 5px!important;
	padding-bottom: 5px!important;
}

.navbar-header .navbar-brand .header-logo {
	height: 100%;
}

/**
 * Fixes for tab sets
 */
.nav-pills {
	padding-top: 10px;
	padding-bottom: 10px;
}

/**
 * Needed for centering elements
 */
.col-centered{
    float: none;
    margin: 0 auto;
}

/**
 * Fixes for popover (used for those help icons)
 */
.popover {
	max-width: 300px;
}

.popover-title {
	border-bottom-color: #c5c5c5;
	font-weight: bold;
}

/**
 * Make header of header panel more distinct from content
 */
.header-panel .panel-heading {
	border-bottom: 1px solid #ddd!important;
	font-weight: bold;
}

/*
 * Style for plot visuals editor
 */

.color-shape-editor .condition-list label {
	padding: 0;
	margin-bottom: 5px;
}

.color-shape-editor .condition-list input[type="radio"]+span {
	padding: 5px 5px;
	/*border: 1px solid #555;*/
	border-radius: 3px;

}

.color-shape-editor .condition-list input[type="radio"]:checked+span {
	font-weight: bold;
	text-decoration: underline;
	/*border: 2px solid #555;*/
}

.color-shape-editor .condition-list .radio {
	display: inline-block;
}

.color-shape-editor .condition-list input {
	display: none;
}

/*
 * Fixes for navlist panel
 * Make headers more distinct.
 */
.nav-stacked .navbar-brand {
	font-weight: bold;
	font-size: 16px;
	color: #555;
}

/**
* Style for help page
*/

.help-page table {
    border-collapse: collapse;
		margin-bottom: 15px;
		margin-top: 15px;
}

.help-page th, .help-page td {
    border: 1px solid #ddd;
		padding: 15px;
}

.help-page h1 {
	color: #555;
	border-bottom: 1px solid #ddd;
}

.help-page h2 {
	color: #555;
	font-size: 25px;
	border-bottom: 1px dotted #ddd;
}

.help-page h3 {
	color: #555;
	font-size: 21px;
	font-weight: bold;
}

/*.help-page .video-container {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

.help-page video {
	display: block;
	width: 80%;
	height: auto;
	margin: 0 auto;
	border: 1px solid #ddd;
}*/

.video-embed {
  text-align: center;
}

.video-embed > div {
  width: 70%;
  display: inline-block;
}

.video-embed > div > div{
  position: relative;
  padding-bottom: 56.25%; /*16:9*/
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 100%;
}

.video-embed > div > div > iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-embed.full-width > div {
  width: 100%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .video-embed > div {
        width: 100%;
    }
}

.help-page .help-box label {
	font-size: 16px;
	text-decoration: underline;
	border-radius: 3px;
	color: #555;
	padding: 3px 3px 3px 3px;
}

.help-page img {
	border: 1px solid #ddd;
	display: block;
  margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

/**
* A horizontal divider for some controls
*/

.hdivider {
	border-bottom: 1px solid #ddd;
	margin-top: 15px;
	margin-bottom: 10px;
	height: 1px;
}

/*
 * Style for play/pause button
 */

.btn-play-pause {
    background-color: #337ab7;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: white;
}

.btn-play-pause:hover {
    color: white;
}

.btn-play-pause .pause {
    display: none;
}


.btn-play-pause.active .play {
    display: none;
}

.btn-play-pause.active .pause {
    display: inline-block!important;
}

/*
* Style for the navbar in Analyze page
*/
.pca-page nav .navbar-header {
	display: none;
}

.pca-page nav {
	border-width: 1px;
}

.pca-page .navbar-default .navbar-nav > .active > a,
.pca-page .navbar-default .navbar-nav > .active > a:focus,
.pca-page .navbar-default .navbar-nav > .active > a:hover   {
	background-color: #337ab7;
	color: #fff;
}

.pca-page .navbar-default .container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.pca-page .navbar-default {
	margin-left: 15px;
	margin-right: 15px;
}

/*
* Style for downloadable plot
*/

/* Override the image size, so it doesn't get scaled by Shiny's default plot output */
/*.downloadable-plot img {
	width: 100%;
	height: auto;
}*/

/*.downloadable-plot .shiny-plot-output {
	height: auto!important;
}*/

/*
* Style for Shiny output error
*/
.shiny-output-error {
	/*top: 0!important;
	left: 0!important;
	position: relative!important;
	height: auto!important;
	display: inline-block!important;*/
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 5px 5px 5px 5px;
	margin: 5px;
	font-size: 16px;
	font-weight: bolder;
	color: #31363b;
	background: repeating-linear-gradient(
  45deg,
  #ecf0f1,
  #ecf0f1 10px,
  #d4dbdf 10px,
  #d4dbdf 20px
	);
}

/*
* Style for selection filter widget
*/

.filter-selection-input .filter-values .selectize-input {
	height: 150px;
}


/*
* Style for nested collapse panels
*/

.sbs-panel-group .sbs-panel-group > .panel > .panel-collapse {
	border-bottom: 2px solid #ddd;
}

.sbs-panel-group .sbs-panel-group > .panel > .panel-collapse > .panel-body {
	border: 0;
}

.sbs-panel-group .sbs-panel-group > .panel {
	border-width: 0;
}

.sbs-panel-group .sbs-panel-group > .panel > .panel-heading {
	border-bottom: 1px solid #ddd;
	background-color: #fff;
}

.sbs-panel-group .sbs-panel-group > .panel > .panel-heading > .panel-title {
	font-size: 14px;
}

/*
* Style for dropdown menu
*/
.dropdown-button {
	display: inline-block;
}

.dropdown-button .dropdown-menu .btn {
	text-align: left;
	border: 0;
}

.dropdown-button .dropdown-menu li {
	border-bottom: 1px solid #ddd;
	padding-bottom: 3px;
	padding-top: 3px;
}

.dropdown-button .dropdown-menu li:last-child {
	border-bottom: 0;
	padding-bottom: 0;
}

.dropdown-button .dropdown-menu li:first-child {
	padding-top: 0;
}

/*
* Style for notifications (the default ones are too bright and can be easily overseen)
*/
.shiny-notification {

}

.shiny-notification-message {
	background-color: #337ab7;
	border-color: #2e6da4;
	color: #ffffff;
}

.shiny-notification-message .shiny-notification-close {
	color: #ffffff;
}

.shiny-notification-warning {
	font-weight: bold;
	color: #232629;
	background: repeating-linear-gradient(
	  45deg,
	  #fdbc4b,
	  #fdbc4b 10px,
	  #f39c1f 10px,
	  #f39c1f 20px
	);
	border-color: #ca8d36;
}

.shiny-notification-warning .shiny-notification-close {
	color: #232629;
}

.shiny-notification-error {
	font-weight: bold;
	color: #ffffff;
	background: repeating-linear-gradient(
	  45deg,
	  #ed1515,
	  #ed1515 10px,
	  #da4453 10px,
	  #da4453 20px
	);
	border-color: #ba1010;
}

.shiny-notification-error .shiny-notification-close {
	color: #ffffff;
}

/*
* Style for sub-sub-box
*/
.sub-sub-box {
	padding: 0px 0px 0px 15px;
	margin-bottom: 15px;
	/*border: 1px solid #ddd;*/
	border-left: 5px solid #ddd;
}

.sub-sub-box .control-label {
	color: #555;
	font-weight: normal;
	font-style: italic;
}

/*
* Style for processing steps widget
*/

.processing-steps-widget h2 {
	font-size: 16px;
	font-weight: bold;
}

.processing-steps-widget h3 {
	font-size: 14px;
	font-weight: bold;
	color: #555;
}

.processing-steps-widget tr {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.processing-steps-widget td {
	border-left: 1px solid #ddd;
	padding: 3px;
}

/*
Helper style
*/

.scrollable-x {
	overflow-x: auto;
}

/*
Style for the about page
*/

.about-page {
}

.about-page .features {
	margin-top: 30px;
}

.about-page .features .feature-column {
	/*border: 1px solid black;*/
	text-align: center;
	color: #555;
}

.about-page .features .feature-column img {
	width: 80%;
}

.about-page .features .feature-column h1 {
	color: #aaa;
	font-size: 32px;
	font-size: 2vw;
	font-weight: lighter;
}

.about-page .landing-header {
	min-height: 500px;
	background-image: url("aboutpage/header.jpg");
	background-size: cover;
	margin-left: -15px;
	margin-right: -15px;
	margin-top: -25px;
	padding-top: 60px;
	color: #555;
	box-shadow: 0px 5px 5px #ddd;
	position: relative;
}

.about-page .landing-header .landing-header-logo {
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.about-page .landing-header .landing-header-action {
	position: absolute;
	bottom: 0;
	padding-bottom: 30px;
	padding-top: 30px;
	background-color: rgba(255, 255, 255, 0.75);
	text-align: center;
	width: 100%;
}

.about-page .landing-header .landing-header-action button {
	margin-top: 15px;
}

.about-page .footer {
	margin-top: 64px;
	font-size: 12px;
}

.about-page .footer h1 {
  font-size: 12px;
}

/*
Style for generic importer
*/

.generic-importer .integration-status .data-sets {
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #337ab7;
}

/*
Hard override for generic importer. Sub-labels should be always italic
*/
.generic-importer .sub-sub-box label {
	color: #555;
	font-weight: normal;
	font-style: italic;
}

/*
Style for the size rows in general plot settings
*/
.general-plot-settings-size .shiny-input-container label {
	display: none;
}

.general-plot-settings-size button {
	width: 100%;
	min-width: 60px;
}

/*
Style for labeled elements labeled by a higher order label
*/
.sub-labeled .shiny-input-container label {
	color: gray;
}

.sub-labeled button {
	width: 100%;
	min-width: 60px;
}

/*
Bootstrap row margins
*/
.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

/*
Style for optional color input 
*/
.optional-color-input button {
  margin-top: 25px;
  width: 100%;
}

/*
Style for GO term filter widget
*/

.go-term-filter .drilldown .form-group > label {
  display: none;
}

.go-term-filter .drilldown select option {
  padding: 5px;
}

.go-term-filter .drilldown .drilldown-selection .radio {
	display: inline-block;
}

.go-term-filter .drilldown .drilldown-selection input {
	display: none;
}

.go-term-filter .drilldown .drilldown-selection label {
	padding: 0;
}

.go-term-filter .drilldown .drilldown-selection input[type="radio"]+span {
	padding: 5px 5px;
	border-radius: 3px;

}

.go-term-filter .drilldown .drilldown-selection input[type="radio"]:checked+span {
	font-weight: bold;
	color: #fff;
	background-color: #337ab7!important;
}

.go-term-filter .drilldown .drilldown-selection input[type="radio"]:hover+span {
	background-color: #ddd;
}

.go-term-filter .drilldown {
	border: 1px solid #ccc;
	border-radius: 3px;
}

.go-term-filter .drilldown .drilldown-selection {
	margin-left: 5px;
	margin-top: 8px;
}

.go-term-filter .drilldown .form-group {
	margin-bottom: 0;
	margin-top: 0
}

.go-term-filter .drilldown select {
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
	border-radius: 0;
}

.go-term-filter > .shiny-input-container label {
	display: none;
}

/*
Style for GO detail view
*/
.go-term-details .goterm-info-entry .key {
  font-weight: bold;
  margin-right: 8px;
}
